.App {
  text-align: center;
  margin: auto;
}
.banner{
  text-align: center;
  display: flex;
  height: 100px;
  width: 600px;
  justify-content: space-around;
  border: 1px solid red;
}
.addScore{
  margin-top: 30px;
  height: 100px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}
.addScore1{
  height: 50px;
  width: 70px;
  background-color: rgb(120, 40, 20);
  color: white;
  border-radius: 5px;
}
.addScore4{
  height: 50px;
  width: 70px;
  background-color: rgb(120, 40, 20);
  color: white;
  border-radius: 5px;
}
.addScore6{
  height: 50px;
  width: 70px;
  background-color: rgb(120, 40, 20);
  color: white;
  border-radius: 5px;
}

.addWicket{
  height: 100px;
  width: 500px;
  border: 1px solid red;
}
button{
  height: 50px;
  width: 70px;
  background-color: rgb(120, 40, 20);
  color: white;
  border-radius: 5px;
}
.addBall{
  height: 100px;
  width: 500px;
  border: 1px solid red;
}
.status{
  text-align: center;
  margin: auto;
}